:root {
    --primary-color: rgb(9, 167, 9);
    --secondary-color: rgb(233, 37, 31);
    --font-color: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    
}

header {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}